# make sure our ssi includes work
SSILegacyExprParser on

# enabled SSI for .html files
AddType text/html .html
AddHandler server-parsed .html
Options Indexes Includes FollowSymlinks


# ----------------------------------------------------------------------
# | Expires headers                                                    |
# ----------------------------------------------------------------------

# Serve resources with far-future expires headers.
#
# (!) If you don't control versioning with filename-based
# cache busting, you should consider lowering the cache times
# to something like one week.
#
# https://httpd.apache.org/docs/current/mod/mod_expires.html

<IfModule mod_expires.c>

    ExpiresActive on
    ExpiresDefault "access plus 1 minutes"

</IfModule>
